body {
   font-family: 'Poppins', sans-serif;
   margin: 0;
}

h1 {
   font-size: 48px;
}

h2 {
   font-size: 35px;
}

.orange {
   color: orange;
}

.top-section {
   display: flex;
   background-image: url(Images/top-banner.png);
   background-repeat: no-repeat;
   margin-bottom: 120px;
}

.half-width {
   width: 50%;
   padding-left: 5%;
}

.half-width img {
   width: 70%;
}

p {
   margin-bottom: 30px;
}

a {
   text-decoration: none;
   background-image: linear-gradient(rgb(227, 33, 33), rgb(246, 75, 45));
   font-weight: 700;
   padding: 10px 30px;
   border-radius: 5px;
   color: white;
}

.mid-section-1 {
   display: flex;
   background-image: url(Images/dream-bg.png);
   background-repeat: no-repeat;
   background-position: right;
}
.eh {
   width: 38%;
   padding-left: 0;
}

img {
   margin-top: 50px;
}

.Experience-area {
   display: flex;
}

.mid-section-2 {
   background-image: url(Images/exp-bg.png);
   background-repeat: no-repeat;
   background-position: left;
}

.ex {
   width: 45%;
   margin: 2.5%;
   padding: 0 30px;
   box-shadow: 10px 10px 40px gray;
}

#full-stack {
   border-left: 7px solid rgb(246, 75, 45);
}

#junior {
   border-left: 7px solid blue;
}

footer p {
   margin-top: 100px;
   text-align: center;
}